.quotaListContainer {
  padding: 20px;
}
.quotaFormContent {
  padding: 20px;
  background: #ffffff;
  margin-bottom: 20px;
}
.quotaListTableContent {
  padding: 20px;
  background: #ffffff;
}
.addQuotaBtn {
  line-height: 30px;
  text-align: center;
  border: 1px dashed #1890FF;
  border-radius: 6px;
  color: #1890FF;
  cursor: pointer;
}



.dialogContent {
  padding: 20px;
}


.bk-form-item {
  margin: 0 8px 8px 0 !important;
}
/deep/.bk-form.bk-inline-form .bk-form-item .bk-label {
  width: 100px !important;
}